.hero-overlay {
    background-image: url(/img/hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   

@include retina {
    background-image: url(/img/hero-mob-2x.jpg); 
}
}