@mixin mobile {
    @media screen and (min-width: 480px) {
        width: 480px;
    }
}

@mixin mobile {
    @media screen and (min-width: 768px) {
        width: 480px;
    }
}

@mixin mobile {
    @media screen and (min-width: 1170px) {
        width: 480px;
    }
}
@mixin retina {
    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
     @content;
    }
 }